.trainings__description {
	@include textReset;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	opacity: 0.7;
	color: var(--clr-text-gray-rest);
	grid-area: description;

	@include desktop {
		font-size: 12px;
		line-height: 18px;
	}
}
