.cycle-item {
	display: block;
	text-decoration: none;
	margin: 0;
	padding: 0;
	width: 100%;
	cursor: pointer;
	box-sizing: border-box;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 22px;

	@include desktop {
		padding-top: 90px;
		padding-bottom: 104px;
		padding-left: 18px;
		padding-right: 18px;
	}
}
