.header__mobile-close-button {
	cursor: pointer;
	margin: 0;
	padding: 0;
	width: 22px;
	aspect-ratio: 1;
	border: none;
	background-color: inherit;
	outline: none;
	object-fit: contain;
	object-position: center;
}
