.header__nav-links {
	background-color: var(--clr-body);
	padding: 28px 120px;
	display: flex;
	flex-direction: row;
	gap: 34px;
	justify-content: flex-end;

	@include desktop {
		padding: 20px 20px;
		gap: 10px;
	}
}

@media (max-width: 400px) {
	.header__nav-links {
		padding: 28px 120px;
		display: none;
	}
}
