.footer__subscription-container {
	max-width: 360px;
	border: var(--border-subscription);
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 11px 20px;

	@include desktop {
		max-width: 100%;
	}
}

.footer__subscription-container:focus-within {
	outline: var(--outline-subscription-focus);
}
