.cycle-item__image-caption {
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: var(--clr-text-main);

	@include desktop {
		font-size: 14px;
		line-height: 18px;
	}
}
