@mixin flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin icon-image($name, $width, $height) {
	.icon-#{$name} {
		background-image: url();
		background-size: cover;
		width: $width;
		height: $height;
	}
}

@mixin mainPadLeft {
	padding-left: 120px;
}

@mixin textReset {
	margin: 0;
	padding: 0;
}

@mixin desktop {
	@media (min-width: 1024px) {
		@content;
	}
}
