$fontFamily: "Inter", Arial, sans-serif;

$btnColor: #24b47e;

:root {
	--clr-body: #f4f4f4;
	--clr-footer: #efefef;
	--clr-text-main: #151515;
	--clr-text-gray: #222222;
	--clr-text-copyright: #cfcfcf;
}

.darkMode {
	--clr-body: #333333;
	--clr-footer: #2f2f2f;
	--clr-text-main: #ffffff;
	--clr-text-gray: #e6e6e6;
	--clr-text-copyright: #565656;
}
