$fontFamily: "Inter", Arial, sans-serif;

$textBlack: #151515;
$textWhite: #ffffff;

$backColorPrimaryLight: #f4f4f4;
$backColorSecondaryLight: #efefef;

$backColorPrimaryDark: #333333;
$backColorSecondaryDark: #2f2f2f;

$btnColor: #24b47e;

$titleColor: #151515;
