.header__mobile-lines-button {
	width: 22px;
	height: 19px;
	cursor: pointer;
	border: none;
	background-color: inherit;
	margin: 0;
	padding: 0;
	background-image: url("../images/burger-menu-svgrepo-com.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
