@import "./modules/variables.scss";
@import "./modules/mixins.scss";

@import "./modules/blocks/body/body";
@import "./modules/blocks/page/page";

////////////////
///
@include icon-image("test", 100px, 100px);

.example2 {
	&__logo {
		width: 100px;

		&:hover {
			color: gray;
		}

		@media (min-width: 500px) {
			width: 200px;
		}
	}
}

.example1 {
	font-size: 16px;

	@include desktop {
		font-size: 40px;
	}
}
