@import "../vendor/normalize.css";
@import "../vendor/fonts.css";
@import url("./modules/blocks/cyclist/cyclist.scss");
@import url("./modules/blocks/cyclist/__road-img/cyclist__road-img.scss");
@import url("./modules/blocks/cyclist/__quote-container/cyclist__quote-container.scss");
@import url("./modules/blocks/cyclist/__quote/cyclist__quote.scss");
@import url("./modules/blocks/cyclist/__info/cyclist__info.scss");
@import url("./modules/blocks/cyclist/__quote-author/cyclist__quote-author.scss");
@import url("./modules/blocks/cyclist/__quote-author-prof/cyclist__quote-author-prof.scss");
:root {
  --clr-body: #f4f4f4;
  --clr-footer: #efefef;
  --clr-text-main: #151515;
  --clr-text-gray-intro: #222222;
  --clr-text-gray-rest: #222222;
  --clr-text-copyright: #cfcfcf;
  --clr-line: #d7d4d4;
  --clr-slider-arrows: #ebebeb;
  --border-subscription: 1px solid rgba(199, 199, 199, 0.5);
  --clr-subscription-placeholder: #222222;
  --outline-subscription-focus: 1px solid #c7c7c7;
}

.darkMode {
  --clr-body: #333333;
  --clr-footer: #2f2f2f;
  --clr-text-main: #ffffff;
  --clr-text-gray-intro: #e6e6e6;
  --clr-text-gray-rest: #e5e5e5;
  --clr-text-copyright: #565656;
  --clr-line: #707070;
  --clr-slider-arrows: #434343;
  --clr-subscription-placeholder: #ffffff;
  --border-subscription-input: 1px solid rgba(125, 125, 125, 0.5);
  --outline-subscription-focus: 1px solid #7d7d7d;
}

.body {
  margin: 0;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  font-style: normal;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  outline: green solid 1px;
}

.header {
  background-color: var(--clr-body);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__nav-links {
  padding: 28px 120px;
  display: flex;
  flex-direction: row;
  gap: 34px;
  justify-content: flex-end;
}

.header__nav-link {
  cursor: pointer;
  color: var(--clr-text-main);
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.4s linear;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.header__nav-link:hover {
  opacity: 0.75;
}

.content {
  background-color: var(--clr-body);
}

.intro {
  box-sizing: border-box;
  padding-left: 120px;
  position: relative;
  display: grid;
  grid-template-columns: minmax(250px, 460px) minmax(10px, 250px) minmax(400px, 610px);
  grid-template-rows: 20px 60px auto 50px auto 50px auto 167px auto 209px;
  grid-template-areas: ". . ." ". . img" "title . img" ". . img" "text . img" ". . img" "link . img" ". . img" "bicycle-name-line . img" ". . img";
}

.intro__title {
  margin: 0;
  padding: 0;
  color: var(--clr-text-main);
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  grid-area: title;
}

.intro__img {
  display: block;
  height: 0;
  min-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  grid-area: img;
}

.intro__text {
  margin: 0;
  padding: 0;
  color: var(--clr-text-gray-intro);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
  grid-area: text;
}

.intro__link {
  display: block;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
  width: 180px;
  padding: 16px 10px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: transparent;
  grid-area: link;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.intro__link::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #24b47e;
  z-index: -10;
}

.intro__link::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: -5;
  background-color: #319e75;
  transition: all 0.6s linear;
}

.intro__link:hover::after {
  width: 100%;
}

.intro__main-bicycle-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  grid-area: bicycle-name-line;
}

.intro__main-bicycle-name {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--clr-text-main);
}

.intro__line {
  width: 132px;
  height: 2px;
  background-color: var(--clr-line);
}

.intro__bike {
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 30%;
  padding-bottom: 164px;
  margin-right: 25%;
}

.intro__bike-fix {
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 392px;
  max-width: 100%;
  background: #f4f4f4;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  border-radius: 20px;
  padding: 20px 50px;
  transition: transform 0.4s linear;
}

.intro__bike-img {
  max-width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.slider-types {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 60px;
}

.slider__type-title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-left: 120px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: var(--clr-text-main);
}

.slider__type-text {
  margin: 0;
  padding: 0;
  padding-left: 120px;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  width: 460px;
  opacity: 0.7;
  color: var(--clr-text-gray-rest);
}

.slider__type-images {
  box-sizing: border-box;
  padding-left: 120px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.slider__type-image {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper__switch-btn {
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--clr-slider-arrows);
  opacity: 1;
  transition: opacity 0.4s linear;
}

.swiper__switch-btn:hover {
  opacity: 0.6;
}

.swiper__switch-btn_intro_prev {
  left: 120px;
  background-image: url("../images/ArrowLeft.svg");
}

.swiper__switch-btn_intro_next {
  left: 190px;
  background-image: url("../images/ArrowRight.svg");
}

.slider-cycles {
  padding-top: 120px;
}

.slider__cycle-title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-left: 120px;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: var(--clr-text-main);
}

.slider__cycle-images {
  display: flex;
  flex-direction: row;
  gap: 30px;
  box-sizing: border-box;
  padding-top: 120px;
  padding-left: 120px;
  padding-bottom: 210px;
}

.slider__cycle-images-figure {
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.slider__cycle-image-container {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 20px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.06);
}

.slider__cycle-image {
  display: block;
}

.slider__cycle-images-caption {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--clr-text-main);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  box-sizing: border-box;
  padding-right: 120px;
  text-align: right;
  bottom: 754px;
}

.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  position: relative;
  margin: 0 20px;
  z-index: 100;
}

.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-of-type {
  margin-right: 0;
}

.swiper-pagination-bullet {
  border-radius: 0;
  width: auto;
  height: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
  transition: opacity 0.4s linear;
  background: inherit;
  color: var(--clr-text-gray-rest);
}

.swiper-pagination-bullet:hover {
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  font-weight: 600;
  opacity: 1;
  transition: opacity 0.4s linear;
  color: var(--clr-text-main);
}

.swiper-pagination-bullet-active:hover {
  opacity: 0.75;
}

.trainings {
  box-sizing: border-box;
  padding-left: 120px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: minmax(250px, 460px) minmax(10px, 160px) minmax(400px, 580px);
  grid-template-rows: auto 50px auto 182px auto;
  grid-template-areas: "title . img" ". . img" "description . img" ". . img" "apps . img";
}

.trainings__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: var(--clr-text-main);
  grid-area: title;
}

.trainings__img {
  display: block;
  grid-area: img;
  height: 0;
  min-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.trainings__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
  color: var(--clr-text-gray-rest);
  grid-area: description;
}

.trainings__apps {
  display: flex;
  flex-direction: row;
  gap: 30px;
  grid-area: apps;
}

.trainings__app-link {
  cursor: pointer;
  color: var(--clr-text-main);
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.4s linear;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.trainings__app-link:hover {
  opacity: 0.75;
}

.footer {
  padding-left: 120px;
  background-color: var(--clr-footer);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 120px;
  padding-top: 80px;
  padding-bottom: 60px;
}

.footer__subscription-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  color: var(--clr-text-main);
  margin-bottom: 50px;
}

.footer__subscription-container {
  width: 360px;
  border: var(--border-subscription);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 11px 20px;
}

.footer__subscription-container:focus-within {
  outline: var(--outline-subscription-focus);
}

.footer__subscription-email {
  background: inherit;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  cursor: pointer;
  transition: all 0.4s linear;
  color: var(--clr-text-main);
}

.footer__subscription-email::-moz-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  opacity: 0.7;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
  color: var(--clr-subscription-placeholder);
}

.footer__subscription-email:-ms-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  opacity: 0.7;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
  color: var(--clr-subscription-placeholder);
}

.footer__subscription-email::placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  opacity: 0.7;
  transition: all 0.4s linear;
  color: var(--clr-subscription-placeholder);
}

.footer__subscription-email:hover::-moz-placeholder {
  color: var(--clr-text-main);
  opacity: 1;
}

.footer__subscription-email:hover:-ms-input-placeholder {
  color: var(--clr-text-main);
  opacity: 1;
}

.footer__subscription-email:hover::placeholder {
  color: var(--clr-text-main);
  opacity: 1;
}

.footer__subscription-ok {
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: var(--clr-text-main);
  border: none;
  outline: none;
  background: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  transition: all 0.4s linear;
}

.footer__subscription-email:focus + .footer__subscription-ok {
  opacity: 1;
}

.footer__copyright-mode-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.footer__copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--clr-text-copyright);
}

.footer__mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
}

.footer__mode-icon {
  display: block;
}

.mode-label {
  position: relative;
}

.switch {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.switch:checked + .slider-visible {
  background-color: #545454;
}

.slider-visible {
  display: block;
  width: 44px;
  height: 24px;
  transition: all 0.4s linear;
  background-color: #ffffff;
  border-radius: 50px;
}

.slider-visible::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background: #24b47e;
  border-radius: 50%;
  width: 20px;
  aspect-ratio: 1;
}

.switch:checked + .slider-visible::before {
  transform: translateX(20px);
}

.icon-test {
  background-image: url();
  background-size: cover;
  width: 100px;
  height: 100px;
}

.example__logo {
  width: 100px;
}
.example__logo:hover {
  color: gray;
}
@media (min-width: 500px) {
  .example__logo {
    width: 200px;
  }
}

.example1 {
  font-size: 16px;
}
@media (max-width: 900px) {
  .example1 {
    font-size: 40px;
  }
}/*# sourceMappingURL=index.css.map */