@import "../vendor/normalize.css";
@import "../vendor/fonts.css";
:root {
  --clr-body: #f4f4f4;
  --clr-footer: #efefef;
  --clr-text-main: #151515;
  --clr-text-gray: #222222;
  --clr-text-copyright: #cfcfcf;
}

.darkMode {
  --clr-body: #333333;
  --clr-footer: #2f2f2f;
  --clr-text-main: #ffffff;
  --clr-text-gray: #e6e6e6;
  --clr-text-copyright: #565656;
}

.body {
  margin: 0;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  font-style: normal;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  outline: green solid 1px;
}

.header {
  background-color: var(--clr-body);
}

.header__nav-links {
  padding: 28px 120px;
  display: flex;
  flex-direction: row;
  gap: 34px;
  justify-content: flex-end;
}

.header__nav-link {
  text-decoration: none;
}

.content {
  padding-left: 120px;
  background-color: var(--clr-body);
}

.footer {
  padding-left: 120px;
  background-color: var(--clr-footer);
  display: flex;
  flex-direction: column;
  gap: 80px;
  box-sizing: border-box;
  padding-right: 120px;
}

.footer__subscription-form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer__subscription-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

.footer__subscription-email {
  width: 360px;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  background: none;
  box-sizing: border-box;
  margin: 0;
  padding: 11px 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
}

.footer__copyright-mode-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #cfcfcf;
}

.footer__mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
}

.footer__mode-icon {
  display: block;
}

.theme-mode {
  position: relative;
}

.switch {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.switch:checked + .slider {
  background-color: #545454;
}

.slider {
  display: block;
  width: 44px;
  height: 24px;
  transition: all 0.4s linear;
  background-color: #ffffff;
  border-radius: 50px;
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background: #24b47e;
  border-radius: 50%;
  width: 20px;
  aspect-ratio: 1;
}

.switch:checked + .slider::before {
  transform: translateX(20px);
}

.icon-test {
  background-image: url();
  background-size: cover;
  width: 100px;
  height: 100px;
}

.example__logo {
  width: 100px;
}
.example__logo:hover {
  color: gray;
}
@media (min-width: 500px) {
  .example__logo {
    width: 200px;
  }
}

.example1 {
  font-size: 16px;
}
@media (min-width: 1024px) {
  .example1 {
    font-size: 40px;
  }
}/*# sourceMappingURL=index.css.map */