@import "../vendor/normalize.css";
@import "../vendor/fonts.css";
@import "./modules/variables.scss";
@import "./modules/mixins.scss";

@import "./modules/blocks/body/body";
@import "./modules/blocks/page/page";
@import "./modules/blocks/content/content";

// header
@import "./modules/blocks/header/header";

@import "./modules/blocks/header/__nav-links/header__nav-links.scss";
@import "./modules/blocks/header/__nav-link/header__nav-link.scss";

@import "./modules/blocks/header/__mobile-line-container/header__mobile-line-container.scss";
@import "./modules/blocks/header/__mobile-lines/header__mobile-lines.scss";
@import "./modules/blocks/header/__mobile-line/header__mobile-line.scss";

@import "./modules/blocks/header/__mobile-close-container/header__mobile-close-container.scss";
@import "./modules/blocks/header/__mobile-nav-links/header__mobile-nav-links.scss";
@import "./modules/blocks/header/__mobile-nav-link/header__mobile-nav-link.scss";
@import "./modules/blocks/header/__mobile-nav-mode-container/header__mobile-nav-mode-container.scss";

//intro
@import "./modules/blocks/intro/intro";
@import "./modules/blocks/intro/__title/intro__title";

@import "./modules/blocks/intro/__text/intro__text";
@import "./modules/blocks/intro/__link/intro__link";
@import "./modules/blocks/intro/__bicycle-name-container/intro__bicycle-name-container";
@import "./modules/blocks/intro/__bicycle-name/intro__bicycle-name";
@import "./modules/blocks/intro/__bicycle-name-line/intro__bicycle-name-line";

@import "./modules/blocks/intro/__img-bike-container/intro__img-bike-container";
@import "./modules/blocks/intro/__img/intro__img";
@import "./modules/blocks/intro/__bike/intro__bike";
@import "./modules/blocks/intro/__bike-fix/intro__bike-fix";
@import "./modules/blocks/intro/__bike-img/intro__bike-img";

// cyclist
@import "./modules/blocks/cyclist/cyclist";
@import "./modules/blocks/cyclist/__road-img/cyclist__road-img";
@import "./modules/blocks/cyclist/__quote-container/cyclist__quote-container";
@import "./modules/blocks/cyclist/__quote/cyclist__quote";
@import "./modules/blocks/cyclist/__info/cyclist__info";
@import "./modules/blocks/cyclist/__quote-author/cyclist__quote-author";
@import "./modules/blocks/cyclist/__quote-author-prof/cyclist__quote-author-prof";

// slider-types
@import "./modules/blocks/slider-types/slider-types";
@import "./modules/blocks/slider-types/__title/slider-types__title";
@import "./modules/blocks/slider-types/__content/slider-types__content";
@import "./modules/blocks/slider-types/__text/slider-types__text";
@import "./modules/blocks/slider-types/__images/slider-types__images";
@import "./modules/blocks/slider-types/__image/slider-types__image";

// swiper-navigation
@import "./modules/blocks/swiper/__switch-btn/swiper__switch-btn";
@import "./modules/blocks/swiper/__switch-btn/_intro/swiper__switch-btn_intro_next";
@import "./modules/blocks/swiper/__switch-btn/_intro/swiper__switch-btn_intro_prev";

// .slider-cycles
@import "./modules/blocks/slider-cycles/slider-cycles";
@import "./modules/blocks/slider-cycles/__title/slider-cycles__title";
@import "./modules/blocks/slider-cycles/__images/slider-cycles__images";

// cycle-item
@import "./modules/blocks/cycle-item/cycle-item";
@import "./modules/blocks/cycle-item/__image-container/cycle-item__image-container";
@import "./modules/blocks/cycle-item/__image/cycle-item__image";
@import "./modules/blocks/cycle-item/__image-caption/cycle-item__image-caption";

// slider-cycles-select
@import "./modules/blocks/slider-cycles-select/slider-cycles-select";
@import "./modules/blocks/slider-cycles-select/__line-top/slider-cycles-select__line-top";
@import "./modules/blocks/slider-cycles-select/__line-bottom/slider-cycles-select__line-bottom";
@import "./modules/blocks/slider-cycles-select/__selects/slider-cycles-select__selects";
@import "./modules/blocks/slider-cycles-select/__container/_closed/slider-cycles-select__container_closed";
@import "./modules/blocks/slider-cycles-select/__container/_opened/slider-cycles-select__container_opened";
@import "./modules/blocks/slider-cycles-select/__container/_type/slider-cycles-select__container_type_shosse";
@import "./modules/blocks/slider-cycles-select/__container/_type/slider-cycles-select__container_type_grevel";
@import "./modules/blocks/slider-cycles-select/__container/_type/slider-cycles-select__container_type_tt";

// trainings
@import "./modules/blocks/trainings/trainings";
@import "./modules/blocks/trainings/__title/trainings__title";
@import "./modules/blocks/trainings/__img/trainings__img";
@import "./modules/blocks/trainings/__description/trainings__description";
@import "./modules/blocks/trainings/__apps/trainings__apps";
@import "./modules/blocks/trainings/__app-link/trainings__app-link";

// footer
@import "./modules/blocks/footer/footer";
@import "./modules/blocks/footer/__subscription-title/footer__subscription-title";
@import "./modules/blocks/footer/__subscription-container/footer__subscription-container";
@import "./modules/blocks/footer/__subscription-email/footer__subscription-email";
@import "./modules/blocks/footer/__subscription-ok/footer__subscription-ok";
@import "./modules/blocks/footer/__copyright-mode-container/footer__copyright-mode-container";
@import "./modules/blocks/footer/__copyright/footer__copyright";
@import "./modules/blocks/footer/__logo/footer__logo";

// mode
@import "./modules/blocks/mode/mode";
@import "./modules/blocks/mode/_footer/mode_footer";
@import "./modules/blocks/mode/__icon/mode__icon";
@import "./modules/blocks/mode/__label/mode__label";
@import "./modules/blocks/mode/__checkbox/mode__checkbox";
@import "./modules/blocks/mode/__span-visible/mode__span-visible";

// .swiper-pagination

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	box-sizing: border-box;
	padding-right: 120px;
	text-align: right;
	// bottom: 754px;
	bottom: 81%;

	@include desktop {
		text-align: center;
		bottom: 120px;
	}
}

.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
	.swiper-pagination-bullet {
	position: relative;
	margin: 0 20px;
	z-index: 100;

	@include desktop {
		margin: 0 5px;
	}
}

.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
	.swiper-pagination-bullet:last-of-type {
	margin-right: 0;
}

.swiper-pagination-bullet {
	border-radius: 0;
	width: auto;
	height: auto;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	opacity: 0.7;
	transition: opacity 0.4s linear;
	background: inherit;
	color: var(--clr-text-gray-rest);

	@include desktop {
		width: 4px;
		aspect-ratio: 1;
		background-color: #cacaca;
	}
}

.swiper-pagination-bullet:hover {
	opacity: 0.6;
}

.swiper-pagination-bullet-active {
	font-weight: 600;
	opacity: 1;
	transition: opacity 0.4s linear;
	color: var(--clr-text-main);
}

.swiper-pagination-bullet-active:hover {
	opacity: 0.75;
}
