@import "../vendor/normalize.css";
@import "../vendor/fonts.css";
@import "./modules/variables.scss";
@import "./modules/mixins.scss";

@import "./modules/blocks/body/body";
@import "./modules/blocks/page/page";

.header__nav-links {
	padding: 28px 120px;
	display: flex;
	flex-direction: row;
	gap: 34px;
	justify-content: flex-end;
}

.header__nav-link {
	text-decoration: none;
}

@include icon-image("test", 100px, 100px);

.example {
	&__logo {
		width: 100px;

		&:hover {
			color: gray;
		}

		@media (min-width: 500px) {
			width: 200px;
		}
	}
}

.example1 {
	font-size: 16px;

	@include desktop {
		font-size: 40px;
	}
}
