.footer__subscription-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	margin: 0;
	padding: 0;
	color: var(--clr-text-main);
	margin-bottom: 50px;
	width: 229px;

	@include desktop {
		width: 100%;
		margin-bottom: 40px;
	}
}
