.header__mobile-container {
	margin: 0 auto;
	background-color: var(--clr-body);
	width: 320px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s linear;
	position: fixed;
	top: 0;
	z-index: 1000;
	display: none;
}

@media (max-width: 400px) {
	.header__mobile-container {
		display: block;
	}
}
